<!DOCTYPE html>
<html>
<head>
        <title>Edu</title>

        <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no, minimum-scale=1.0, maximum-scale=1.0" />

        <link rel="stylesheet" type="text/css" href="css/reset.css" />
        <link rel="stylesheet" type="text/css" href="css/style.css" />

        <script src="js/libs/jquery/jquery.js"></script>
        <script src="js/libs/jquery-tmpl/jquery.tmpl.js"></script>
        <script src="js/libs/jquery-platform/jquery.platform.js"></script>
        <script src="js/libs/jquery-fixbody/jquery.fixbody.js"></script>
        <script src="js/libs/underscore/underscore.js"></script>
        <script src="js/libs/backbone/backbone.js"></script>
        <!-- // <script src="js/libs/EventEmitter2/EventEmitter2_old.js"></script> -->
        <script src="js/libs/EventEmitter2/EventEmitter2.js"></script>
        <script src="js/libs/micro-extendable/extendable.js"></script>
        <script src="js/libs/micro-controller/controller.js"></script>
        <script src="js/libs/micro-view/view.js"></script>
        <script src="js/app/app.controller.js"></script>
        <script src="js/app/app.view.js"></script>
        <script src="/socket.io/socket.io.js"></script>
        <script src="js/app/index.js"></script>

        <script>
          var ev = new EventEmitter2()

          // ev.on('all', function all(e) {console.log(e)});

          // ev.on('newListener', function testListener(e, l) {console.log(e, l)});
          ev.on('*', function star() {console.log('star')});
          ev.on('foo', function foo() {console.log('foo')});
          ev.on('mof', function mof() {console.log('mof')});
          ev.on('foo.bar', function fooBar() {console.log('fooBar')});
          ev.on('foo.bar.baz', function fooBarBaz1() {console.log('fooBarBaz1')});
          ev.on('foo.bar.baz', function fooBarBaz2() {console.log('fooBarBaz2')});
          ev.on('foo.bar.baz.bax', function fooBarBazBax() {console.log('fooBarBazBax')});
          ev.on('foo.mof', function fooMof() {console.log('fooMof')});
          ev.on('foo.mof.baz', function fooMofBaz1() {console.log('fooMofBaz1')});
          ev.on('foo.mof.baz', function fooMofBaz2() {console.log('fooMofBaz2')});
          ev.on('foo.mof.baz.bax', function fooMofBazBax() {console.log('fooMofBazBax')});
          ev.on('foo.*', function fooStar() {console.log('fooStar')});
          ev.on('foo.*.baz', function fooStarBaz() {console.log('fooStarBaz')});
          ev.on('foo.*.*', function fooStarStar() {console.log('fooStarStar')});

          ev.emit('foo.*.*');
        </script>


</head>

<body></body>

</html>
