/*--------------------------------------------------------------
 Header
 --------------------------------------------------------------*/

#header { 
  background: url(../../images/theme/header_shadow.gif) repeat-x left bottom;
}

#header a:link,
#header a:visited { 
  color: #000;
  text-decoration: none;
}

#header a:hover,
#header a:active {
  color: #930; background: transparent;
  text-decoration: none;
}

#header h1 {
  font: bold 410% georgia, serif; 
  letter-spacing: -1px; 
  margin: 0;
  float: left; 
}

#header h2 {
  font: normal 12px verdana, arial, sans-serif;  
  margin: 2.35em 0.2em 0 0;
  float: right;
}

/*--------------------------------------------------------------
 Content
 --------------------------------------------------------------*/

article {}

article h1,
article h2,
article h3,
article h4,
article h5 { 
  font-family: georgia, times;
  font-weight: normal;
  letter-spacing: -1px;
}

article h1 { 
  font-size: 28px;
  margin: 0 0 0.3em;  
}

article h1 small {
  font-size: 18px;
}

article h2 { 
  font-size: 24px;
  margin: 0 0 0.3em;  
}

article h3 { 
  font-size: 22px;
  margin: 1.2em 0 0.3em;  
}

article h4 { 
  font-size: 20px;
  margin: 1.2em 0 0.3em;  
  border-bottom: 1px dotted #bbb;
}

article h5 {
  font-size: 20px;
  background: #ffd;
  margin: 1.2em 0 0.3em;  
  border-bottom: 1px dotted #aaa;
}

article p {
  line-height: 14px; 
  margin: 0 0 1.2em;
}

article ul,
article ol {
  margin: 1em;
  padding:0;
}

article ul {
  list-style-type: square;
}

article li {
  line-height: 15px; 
  margin: 0 0 0 1em; padding: 0;
}

article blockquote {
  color: #555;
  border-left: 5px solid #ccc; 
  margin: 1.3em 1em; padding: 0 1em;
}

article code { 
  font: normal 12px "bitstream vera sans mono", monaco "lucida console", "courier new", courier, serif;
}

article code a {
  color: #63FF00;
}

article code a:hover {
  color: white;
}


article pre {
  color: #63FF00;
  background: #000;
  overflow: auto;
  font: normal 12px "bitstream vera sans mono", monaco "lucida console", "courier new", courier, serif;
  margin: 0.9em 0; padding: 8px;
}

/* Article Entries - class names based on http://microformats.org/wiki/hatom] */
article .hentry { 
  margin: 0 0 3em 0;
}

article .hentry .entry-title {
  font-size: 30px;
  line-height: 99%;
  letter-spacing: -1.5px; 
  margin: 0;
}

article .hentry .entry-title a:link,
article .hentry .entry-title a:visited { 
  color: #111;
  text-decoration: none;
}

article .hentry .entry-title a:hover,
article .hentry .entry-title a:active { 
  background: transparent;
  text-decoration: underline;
}

article .hentry .entry-title .comment_count { color: #eee; }

article .hentry .vcard,
article .hentry .published {
  float: left;
  color: #a9a9a9;
  font: normal 16px/14px helvetica, arial, verdana, sans-serif;
  letter-spacing: -1px;
  margin: 1px 0 0.6em 2px;
}

article .hentry .fn {
  font-weight:bold;
  margin-right: 5px;
}

article .hentry .fn a,
article .hentry .fn a:hover {
  color: #aaa; background: transparent;
  text-decoration: none;
}

article .hentry .clear { clear: both; }

article .hentry .entry-content { }

article .hentry ul.meta { 
  font-size: 10px;
  background: #eee;
  margin: 0; padding: 5px;
  border: 1px solid #ddd;
  list-style-type: none;
}

article .hentry ul.meta li { 
  line-height: 13px;
  margin: 0; padding: 0;
}

article .hentry .meta a:link,
article .hentry .meta a:visited {
  color: #555;
  text-decoration: none;
  border-bottom: 1px dotted #aaa;
}

article .hentry .meta a:hover,
article .hentry .meta a:active  {
  color: #fff;
}


/* Comments and Trackbacks */
article ol.comments,
article ol.trackbacks {
  list-style-type: none;
  margin: 0; padding: 0;
}

article li.comment,
article li.trackback {
  border: 2px solid #ddd;
  margin: 0 0 1.5em; padding: 1em;
}

article li.comment.preview { 
  background: #ffc;
  border: 3px solid #fab444;
  margin: 0 0 1.5em; padding: 1em;
}

article li.comment   .author,
article li.trackback .author { 
  font-weight: bold;
  margin-bottom: 1em;
}

article li.comment   .author cite,
article li.trackback .author cite {
  font-size: 16px;
  letter-spacing: -1px;
}

article li.comment   .author abbr, 
article li.trackback .author abbr { color: #999; }

article li.comment .author .gravatar { 
  margin: 0 0 0.5em 0.5em;
  float: right; 
}

article li.comment .author div {
  margin: 0 0 0.5em 0.5em;
  width: 60px; height: 60px;
  background: url(../../images/theme/gravatar.gif) no-repeat left top;
  float: right; 
}

article form.comments {
  background: #f2f2f2;
  border-top: 1px solid #ddd;
  padding: 1em 0.5em;
}

article form.comments fieldset { 
  border: none;
}

article form.comments legend { 
  display: none;
}

article form.comments label { 
  font-weight: bold;
}

article form.comments textarea { 
  width: 90%; height: 150px;
  padding: 3px;
}

/*--------------------------------------------------------------
 Sidebar
 --------------------------------------------------------------*/

#sidebar {
  font-size: 11px; 
}

#sidebar h3 { 
  font: bold 14px "lucidamac bold", "lucida grande", verdana, arial, helvetica, sans-serif;
  margin: 0 0 0.5em;
}

#sidebar h3 a:link,
#sidebar h3 a:visited {
  color: #000; text-decoration: none;
}

#sidebar h3 a:hover,
#sidebar h3 a:active {
  background: transparent; text-decoration: underline;
}

#sidebar ul {
  list-style-type: none; 
  margin: 0 0 2em; padding: 0;
}

#sidebar li { 
  margin: 0;
  padding: 1px 0;
}

#sidebar em { font-style: normal; }

/* Live-search and results */
#sidebar .search p { 
  margin: 0;
}

#sidebar .search p input {
  font-size: 11px; width: 92%;
}

#sidebar .search .loading {
  background: url(../../images/theme/spinner.gif) no-repeat left 50%;
  margin: 1em 0; padding: 0 0 0 20px;
  height: 15px;
}

#sidebar .search .results { 
  margin: 0 0 1.25em;
}

#sidebar .search .results h3 {
  margin-top: 1em;
}

#sidebar .search .results p { 
  font: bold 14px "lucidamac bold", "lucida grande", verdana, arial, helvetica, sans-serif;
  margin: 0 0 0.5em;
}

#sidebar .search .results ul { 
  margin: 0; padding: 3px;
}

#sidebar .search .results li { background: #ffc; padding: 0.2em; }

#sidebar .search .results a:link,
#sidebar .search .results a:visited {
  color: #222;
}

#sidebar .search .results a:hover, 
#sidebar .search .results a:active  {
  color: #fff;
}

/* Flickr sidebar-node */
#sidebar #flickr {
  margin: 0 0 2em;
  clear: both;
}

#sidebar #flickr div {
}

#sidebar #flickr img { 
  margin: 0 0 5px;
  padding: 5px;
  border: 1px solid #ddd;
  display: block;
}
        
#sidebar #flickr img:hover {
  background: #ffc;
}
        
#sidebar #flickr a { 
  border: none;
}

/*--------------------------------------------------------------
 Footer
 --------------------------------------------------------------*/

#footer {
  border-top: 1px solid #ccc; 
  font-size: 90%; 
}

#footer a:link,
#footer a:visited { 
  color: #000;
}

#footer a:hover,
#footer a:active { 
  color: #fff;
  background: #000;
}

#footer hr {
  display: none;
}

#footer p {
  width: 40%;
  float: left; 
  margin: 0; padding: 0; 
}

#footer ul {
  width: 40%;
  margin: 0; padding: 0;
  list-style-type: none; 
  text-align: right; 
  float: right; 
}

#footer li {
  margin: 0; padding: 0 0 0 1em;
  display: inline; 
}
