/*
 * ==|== normalize ==========================================================
 */

@font-face {
 font-family: 'typewriter';
 src: local("â˜º"), url("fonts/typewriter.ttf") format("truetype");
 font-weight: normal;
 font-style: normal; 
}

@font-face {
 font-family: 'AllerLt';
 src: local("â˜º"), url("fonts/AllerLt.ttf") format("truetype");
 font-weight: normal;
 font-style: normal; 
}

article, aside, details, figcaption, figure, footer, header, hgroup, nav, section { display: block; }
audio, canvas, video { display: inline-block; *display: inline; *zoom: 1; }
audio:not([controls]) { display: none; }
[hidden] { display: none; }

html { font-size: 100%; overflow-y: scroll; -webkit-text-size-adjust: 100%; -ms-text-size-adjust: 100%; }
body { margin: 0; font-size: 13px; line-height: 1.231; }
body, button, input, select, textarea { font-family: sans-serif; color: #222; }

::-moz-selection { background: #333; color: #fff; text-shadow: none; }
::selection { background: #333; color: #fff; text-shadow: none; }

a { color: #333333; text-decoration: none;}
a:visited { color: #333333; }
a:hover { color: #5F7890; }
a:focus { outline: thin dotted; }
a:hover, a:active { outline: 0; }

abbr[title] { border-bottom: 1px dotted; }
b, strong { font-weight: bold; }
em { font-weight: bold; color: #666666; font-style: normal; }
blockquote { margin: 1em 40px; }
dfn { font-style: italic; }
hr { display: block; height: 1px; border: 0; border-top: 1px solid #ccc; margin: 1em 0; padding: 0; }
ins { background: #ff9; color: #000; text-decoration: none; }
mark { background: #ff0; color: #000; font-style: italic; font-weight: bold; }
pre, code, kbd, samp { font-family: monospace, monospace; _font-family: 'courier new', monospace; font-size: 1em; }
pre { white-space: pre; white-space: pre-wrap; word-wrap: break-word; }
q { quotes: none; }
q:before, q:after { content: ""; content: none; }
small { font-size: 85%; }
sub, sup { font-size: 75%; line-height: 0; position: relative; vertical-align: baseline; }
sup { top: -0.5em; }
sub { bottom: -0.25em; }
ul, ol { margin: 1em 0; padding: 0 0 0 40px; }
dd { margin: 0 0 0 40px; }
nav ul, nav ol { list-style: none; list-style-image: none; margin: 0; padding: 0; }
img { border: 0; -ms-interpolation-mode: bicubic; vertical-align: middle; }
svg:not(:root) { overflow: hidden; }
figure { margin: 0; }

form { margin: 0; }
fieldset { border: 0; margin: 0; padding: 0; }
label { cursor: pointer; }
legend { border: 0; *margin-left: -7px; padding: 0; }
button, input, select, textarea { font-size: 100%; margin: 0; vertical-align: baseline; *vertical-align: middle; }
button, input { line-height: normal; *overflow: visible; }
table button, table input { *overflow: auto; }
button, input[type="button"], input[type="reset"], input[type="submit"] { cursor: pointer; -webkit-appearance: button; }
input[type="checkbox"], input[type="radio"] { box-sizing: border-box; }
input[type="search"] { -webkit-appearance: textfield; -moz-box-sizing: content-box; -webkit-box-sizing: content-box; box-sizing: content-box; }
input[type="search"]::-webkit-search-decoration { -webkit-appearance: none; }
button::-moz-focus-inner, input::-moz-focus-inner { border: 0; padding: 0; }
textarea { overflow: auto; vertical-align: top; resize: vertical; }
input:valid, textarea:valid {  }
input:invalid, textarea:invalid { background-color: #f0dddd; }

table { border-collapse: collapse; border-spacing: 0; }
td { vertical-align: top; }


/* ==|== primary styles =====================================================
   Author: Nodejitsu, Inc.
   ========================================================================== */

table {
  font-size: 14pt;
  font-weight: bold;
}

ul, li {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: visible;
  font-size: 15px;
}

header {
  color: #eee;
  font-family: 'typewriter';
  width: 100%;
  position: absolute;
  top: 0px;
  height: 50px;
  background-color: #333;
  box-shadow: -2px 0px 5px #444;
  z-index: 3;
}

header div {
  display: inline-block;
  margin: 10px;
}

header div a {
  color: #eee;
  text-decoration: none;
}

header div a:visited {
  color: #eee;
}

header div a:hover {
  color: #eee;
  text-decoration: underline;
}

header div.title {
  font-size: 28px;
}

header div.link {
  float: right;
  font-family: 'AllerLt';
  padding: 10px;
}



header div.subtitle {
  float: right;
  font-size: 28px;
  position: relative;
}

header div.github {
  float: right;
}

#mask {
  display: none;
  position: fixed;
  top: 0px;
  right: 0px;
  left: 0px;
  bottom: 0px;
  background-color: #fff;
  opacity: 0.8;
  z-index: 1;
}

#home {
  margin-left: 25px;
  margin-top: 70px;
}

#article {
  margin-left: 220px;
  margin-right: 100px;
  margin-top: 100px;
}

#article h1 {
  font-size: 2em;
}

#toc {
  float:left;
  min-height: 1000px;
  height: auto;
}

#toc > ul {
  text-transform: capitalize;
  background-color: #fff;
  padding-top: 20px;
  position: absolute;
  left: 0px;
  min-height: 1000px;
  top: 50px;
  width: 190px;
  box-shadow: 3px -10px 5px #ccc;
  webkit-box-shadow: 3px -10px 5px #ccc;
  z-index: 2;
}

#toc > ul > li > a {
  display: inline-block;
  width: 100%;
  font-weight: bold;
  min-height: 30px;
  padding-left:  15px;
  padding-bottom: 10px;
}

#toc > ul > li > ul {
  background-color: #fff;
  padding-top: 20px;
  display: none;
  opacity: 0;
  opacity: 1;
  padding-left: 0px;
  position: absolute;
  top: 0px;
  left: 205px;
  width: 300px;
  min-height: 1000px;
  box-shadow: 4px -10px 5px #ccc;
  webkit-box-shadow: 4px -10px 5px #ccc;
  z-index: 2;
}

#toc > ul > li > ul > li > a {
  margin: 8px;
  display: inline-block;
  font-weight: bold;
  cursor: pointer;
}

#toc > ul > li > ul > li > ul > li > a {
  margin: 8px;
  display: inline-block;
  font-weight: normal;
  cursor: pointer;
  font-family: 'AllerLt'
}

#readme {
  margin-left: 200px;
  margin-right: 100px;
  margin-top: 75px;
}

.selected {
  color: #5F7890;
  background: transparent url('/img/right.png') no-repeat 190px center;
}

.breadcrumb {
  padding-right: 20px;
  font-weight: bold;
  font-size: 14px;
  background: transparent url('../img/crumbtrail.png') no-repeat scroll center right;
  margin-right: 10px;
}

.breadcrumbs {
  position: absolute;
  right: -15px;
  top: 60px;
  padding: 6px;
  background-color: #fff;
}

.breadcrumbs a:last-child {
  background: none;
}

.date, .author {
  display: inline;
}

/* ==|== non-semantic helper classes ======================================== */
.ir { display: block; border: 0; text-indent: -999em; overflow: hidden; background-color: transparent; background-repeat: no-repeat; text-align: left; direction: ltr; }
.ir br { display: none; }
.hidden { display: none !important; visibility: hidden; }
.visuallyhidden { border: 0; clip: rect(0 0 0 0); height: 1px; margin: -1px; overflow: hidden; padding: 0; position: absolute; width: 1px; }
.visuallyhidden.focusable:active, .visuallyhidden.focusable:focus { clip: auto; height: auto; margin: 0; overflow: visible; position: static; width: auto; }
.invisible { visibility: hidden; }
.clearfix:before, .clearfix:after { content: ""; display: table; }
.clearfix:after { clear: both; }
.clearfix { zoom: 1; }


/* ==|== media queries ====================================================== */

@media only screen and (min-width: 480px) {


}

@media only screen and (min-width: 768px) {

}



/* ==|== print styles ======================================================= */
 
@media print {
  * { background: transparent !important; color: black !important; text-shadow: none !important; filter:none !important; -ms-filter: none !important; } 
  a, a:visited { text-decoration: underline; }
  a[href]:after { content: " (" attr(href) ")"; }
  abbr[title]:after { content: " (" attr(title) ")"; }
  .ir a:after, a[href^="javascript:"]:after, a[href^="#"]:after { content: ""; } 
  pre, blockquote { border: 1px solid #999; page-break-inside: avoid; }
  thead { display: table-header-group; }
  tr, img { page-break-inside: avoid; }
  img { max-width: 100% !important; }
  @page { margin: 0.5cm; }
  p, h2, h3 { orphans: 3; widows: 3; }
  h2, h3 { page-break-after: avoid; }
}
